<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Entry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_add.css">
</head>

<body>

    <!-- This is the nav bar -->
    <nav class="d-flex">
        <button><a href="/home">HOME</a></button>
        <div class="nav_right d-flex">
            <button><a href="/dashboard" class="anav">ENTRIES</a></button>
            <button><a href="/add_entry">ADD ENTRY</a></button>
            <button><a href="/logout">LOG OUT</a></button>
        </div>
    </nav>

    <div class="main">
        <form action="/edit_entry_post/{{rhyme['id']}}" method="post" class="form-group ">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <label for="title" class="form-label"></label>
            <input type="text" name="title" id="title" value="{{rhyme['title']}}" class="title form-control mb-3">

            <label for="type" class="form-label"></label>
            <input type="text" name="type" id="type" value="{{rhyme['type']}}" class=" type form-control mb-3">

            <textarea name="content" id="content" cols="39" rows="14">{{rhyme['content']}}</textarea>
            <button type="submit" class="btn ">SAVE</button>
<div id="btn_colors">
    <button type="button" onclick="window.location.reload();" id="r_btn" style="color: red; background-color: red;">re</button>
    <button type="button" onclick="window.location.reload();" id="g_btn" style="color: green; background-color: green;">re</button>
    <button type="button" onclick="window.location.reload();" id="b_btn" style="color: blue; background-color: blue;">re</button>
    <button type="button" onclick="window.location.reload();" id="p_btn" style="color: purple; background-color: purple;">re</button>
    <button type="button" onclick="window.location.reload();" id="o_btn" style="color: rgb(229, 154, 15); background-color: rgb(229, 154, 15);">re</button>
    <button type="button" onclick="window.location.reload();" id="bk_btn" style="color: black; background-color: black;">re</button>
</div>

        </form>
        <div class=" dictionaries ">
            <form id="rhyme_post">
                <input type="search" name="rhyming_dict" placeholder="Rhyming Dictionary:" id="rhyming_dict">
                <input type="submit">
                <p class="ms-1 " id="print_rhyme"></p>
            </form>
            <form id="dict_post">
                <input type="search" name="dict" placeholder="Dictionary:" id="dict" >
                <input type="submit">
                <p class="ms-1  " id="print_dict"></p>
            </form>
        </div>
    </div>



    <script src="../static/js/script.js"></script>
</body>